/* .nodes {
  fill: wheat;
  cursor: pointer;
}

.nodes text {
  fill: rgb(115, 107, 133);
} */

.linage {
  fill: none;
  stroke: dimgray;
}

.marriage {
  fill: none;
  stroke: dimgray;
}

.man {
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

.woman {
  background-color: mistyrose;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

.unknown {
  background-color: white;
  /* border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box; */
}

.emphasis {
  font-style: italic;
}

p {
  padding: 3px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
